.one_project-related-article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-transition-property: background,border,-webkit-box-shadow;
    transition-property: background,border,-webkit-box-shadow;
    -o-transition-property: background,border,box-shadow;
    transition-property: background,border,box-shadow;
    transition-property: background,border,box-shadow,-webkit-box-shadow;
    -webkit-transition-duration: .25s;
    -o-transition-duration: .25s;
    transition-duration: .25s;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    border-radius: 0 0 5px 5px;
}
/*.one_project_related-brand {
    background-color: #120551;
    margin: 20px 35px 20px 20px;
    right: 0;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    color: #fff;
    font-size: 12px;
    padding: .6em 1.2em;
    line-height: 1;
    font-weight: 400;
    border-radius: 999px;
}*/
.one_project_related-text {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0 15px;
    width: 100%;
    display: var(--item-display,block);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.one_project_related-title {
    /*font-family: "LabGrotesqueVN", Sans-serif;*/
    /*font-family: "MontserratOnecons", Sans-serif*/
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 5px;
    min-height: 65px;
}
.one_project_related-title a {
    color: var( --e-global-color-primary )!important;
    font-size: 20px!important;
}
.one_project_related-excerpt {
    margin-bottom: 15px;
    line-height: 1.5;
    -webkit-box-flex: var(--read-more-alignment,0);
    -ms-flex-positive: var(--read-more-alignment,0);
    flex-grow: var(--read-more-alignment,0);
    min-height: 155px;
}
.one_project_related-excerpt p {
    color: #000;
    font-family:  "MontserratOnecons", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    line-height: 1.5em;
    text-align: justify;
}
.one-project_related-thumbnail-link {
    margin-bottom: 10px;
    position: relative;
    display: block;
    width: 100%;
}
.one-project_related-thumbnail-img {
    position: relative;
    -webkit-transform-style: preserve-3d;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
}
/*.one-project_related_card {
    background-color: #F8F9FA;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.15);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    width: 100%;
    min-height: 100%;
    border-radius: 3px;
    border: 0 solid #818a91;
    -webkit-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
    display: flex;
}*/
.one-project_related-read-more {
    /*font-family: "LabGrotesqueVN", Sans-serif;*/
    font-size: 16px;
    font-weight: 600;
    text-transform: none;
    color: var( --e-global-color-primary );
    margin-bottom: 10px;
    display: inline-block;
}
.one-project_related_heading {
    color: #1A69A2 !important;
    text-align: center;
    /*font-family: "LabGrotesqueVN", Sans-serif !important;*/
    font-weight: 700;
    font-size: 30px!important;
    padding: 20px;
}
/*Begin Project and Post Single*/
#pix-entry-content p {
    text-align: justify;
    font-family: "MontserratOnecons", sans-serif;
}

#pix-entry-content h2 {
    font-size: 25px;
    color: #1A69A2;
    margin-bottom: 5px;
    font-weight: bold;
}

#pix-entry-content h3 {
    font-size: 22px;
    color: #1A69A2;
}

#pix-entry-content ul li {
    font-family: "MontserratOnecons", sans-serif;
}

.entry-content ul {
    text-align: justify;
}

.wp-caption .wp-caption-text {
    font-family: "MontserratOnecons", sans-serif;
}

.wp-element-caption {
    font-family: "MontserratOnecons", sans-serif;
}

.wp-block-image {
    margin: 10px 0 10px 0;
}

/*End Project and Post Single*/

/* Begin Contact Form*/
.ctf-checkbox {
    font-family: "MontserratOnecons", sans-serif!important;
    font-weight: bold;
    font-size: 16px;
}

#contactform_name_47aaebe {
    font-family: "MontserratOnecons", sans-serif;
    font-size: 16px;
    color: #000; 
    border: 1px solid #8f8f8f;
}

#contactform_phone_47aaebe {
    font-family: "MontserratOnecons", sans-serif;
    font-size: 16px;
    color: #000; 
    border: 1px solid #8f8f8f;
}

#contactform_email_47aaebe {
    font-family: "MontserratOnecons", sans-serif;
    font-size: 16px;
    color: #000; 
    border: 1px solid #8f8f8f;
}

#contactform_purpose_47aaebe {
    font-family: "MontserratOnecons", sans-serif;
    font-size: 16px;
    color: #000; 
    border: 1px solid #8f8f8f;
    padding: 10px 0 10px 20px;
    height: calc(3.1875rem + 0rem);

}

select.form-control {
    text-indent: 0px!important;
}

#contactform_area_47aaebe {
    font-family: "MontserratOnecons", sans-serif;
    font-size: 16px;
    color: #000;
    border: 1px solid #8f8f8f;
}

#contactform_address_47aaebe {
    font-family: "MontserratOnecons", sans-serif;
    font-size: 16px;
    color: #000;
    border: 1px solid #8f8f8f;
}

#contactform_message_47aaebe {
    border: 1px solid #8f8f8f;
    font-family: "MontserratOnecons",sans-serif;
    font-size: 16px;
}

.wpcf7-not-valid-tip {
    font-family: "MontserratOnecons",sans-serif;
    font-size: 14px!important;
    font-weight: bold!important;
}

#contactform_submit_47aaebe {
  background-color: var( --e-global-color-accent );
  color: #FFF;
  font-weight:bold;
  font-size: 16px;
}

/* End Contact Form*/

/* Begin Top Header*/
.pix-header-text {
    font-family: "MontserratOnecons", sans-serif!important;
}
/* End Top Header*/
